.App-header {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    border-bottom: 1.2px solid #dcdcdc;
    background-color: #202329;
    height: 48px;
    color: white;
  }
  
  .App-header > div {
    display: inline-block;
    position: relative;
  }